*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: 780px 400px;
    grid-template-rows: 600px;
    align-items: end;
    gap: 20px; 
}

.result {
  position: relative;
}

.result__video-container {
  padding-bottom: 20px;
}

.search-form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 10px;
}

.content__details {
  display: grid;
  grid-template-rows: 200px 400px;
  padding-top: 150px;
}

.title {
  padding-top: 60px;
}

.content__list {
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list-item {
}

.result__video {
  padding-bottom: 10px;
  width: 100%;
}

.content__video-card-thumbnail {
}
