*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: 700px 300px;
    align-items: end;
    height: 600px;
    gap: 20px; 
}

.result__video-container {
  padding-bottom: 20px;
}

.search-form {
  display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   gap: 10px;
}

.content__details {
  width: 100%;
  height: 100%;
  background-color: beige;
}

.title {
  margin-top: 300px;
}

.content__list {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list-item {
  width: 100%;
}

.result__video {
  width: 100%;
}

.content__video-card-thumbnail {
  width: 100%;
}
