*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin-top: 133px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
    margin: auto;
    display: grid;
    grid-template-columns: 711px 399px;
    grid-template-rows: 600px;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: end;
    gap: 30px; 
}

.result {
  position: relative;
}

.result__video-container {
  margin-bottom: 12px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 4fr 4fr 3fr;
}

.content__details {
  display: grid;
  grid-template-rows: 300px 300px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 0.94;
  color: white;
  text-transform: uppercase;
  padding-top: 67px;
}

.content__accent {
  color: gray;
}

.content__list {
  overflow-x: hidden;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  display: flex;
  /* background-color: bisque; */
  height: 105px;
}

.content__list-item:not(last-child) {
  margin-bottom: 32px;
}

.content__list-item:active {
  background-color: gray;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__video-card {
  display: grid;
  justify-items: start;
  align-self: start;
  grid-template-columns: 198px 202px;
  padding-left: 2px;
}

.content__video-card-thumbnail { 
  position: relative;
  object-fit: fill;
  width: 100%;
  height: 105px;
}

.search-form__fieldset:nth-child(2) {
  padding-left: 5px;
}

.content__card-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  margin: 2px;
}

.content__card-link_current {
  background-color: gray;
}

.content__card-link:focus {
  display: block;
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid;
  outline-width: thin;
  outline-color: white;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__video-card-description {
  line-height: 1.3;
}

.result__video-container {
  position: relative;
}

.content__list {
  position: relative;
}

/* Forms */

fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 100;
  height: 100%;
}

.search-form__label-text:focus {
  outline:none;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid white;
}

input[type='checkbox']:checked + span::after {
  display: flex;
  content: "";
  margin-left: 1px;
  margin-top: 1px;
  display: inline-block;
  z-index: 2;
  background-color: white;
  width: 16px;
  height: 16px;
}

.search-form__pseudo-checkbox:active::after {
  display: flex;
  content: "";
  margin-left: 1px;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  display: inline-block;
  z-index: 2;
  background-color: white;
}

.search-form__textfield {
  cursor: pointer;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 15px;
}

.search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid white;
}  

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  font-size: 18px;
  width: 222px;
}

.search-form__textfield:active {
  border: 1px solid white;
}  

.search-form__textfield:hover {
  cursor: text;
  text-decoration: none;
}

.search-form__fieldset-title {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 100;
}

.button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 34px;
  font-size: 18px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: gray;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid;
}

.search-form__submit-button {
  width: 100%; 
  margin-top: auto;
}

.more-button {
  width: 100%
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
